.App {
  font-family: sans-serif;
  text-align: center;
}

.connectPoint {
  opacity: 0.2;
}

.connectPoint:hover {
  opacity: 0.6;
}
.sideBar {
  width: 80px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid grey;
  align-items: center;
  gap: 20px;
}
.pagesContainer {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
